body {
  background-color : #000000;
  margin: 0px;
}
header {
  color: white;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
.aboutp1{
  color: white;
  font-size: 20px;
}
.aboutl{
  color: white;
  font-size: 20px;
}
.aboutp2{
  border-left: solid;
  border-color: #F41515;
  border-width: 4px;
  margin-left: 3px;
  padding-left: 5px;
  border-radius: 3px;
  background-color: #191616;
}
