body {
  background-color : black;
}
.donatep{
  color: white;
  font-size: 19px;
}

.donateamount{
  text-align: center;
  margin-top: 50px;
  color: #FFFFFF;
}
.donatei{
  width: 50%;
  border-bottom: solid;
  border-width: 2px;
  font-size: 19px;
  height: 30px;
  border-color: white;
  background-color: black;
  color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
}
.donatei:hover, :active{
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  border-bottom-width: 3px;
}
#donatenumbers{
  background-color: black;
  color: white;
  border: solid;
  width: 27%;
  height: 43px;
  text-align: center;
  border-width: 2px;
  border-radius: 13px;
  font-size: 16px;
  font-weight: bolder;
}

#donatenumbers:hover{
  border-width: 4px;
}

.middlenumbers{
  text-align: center;
  margin-top: 50px;
}
.middlenumbers2{
  margin-top: 3px;
}
.donatedone{
  width: 250px;
  height: 45px;
  margin-top: 80px;
  color: white;
  background-color: black;
  border: solid;
  border-width: 3px;
  border-radius: 20px;
  font-size: 20px;
}
.donatedone:hover{
  background-color: #1D1919;
  border-width: 4px;
}
