body {
    font-size: 15pt;
    background-color: #000;

} 

.container{
  color: white;
  max-width: 1280px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
*{
  margin: 0;
  padding: 0;
}
.top-nav{
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  padding: 16px 32px;
  background-color: black;
  border-bottom: none;
}


.menu{
  display: none;
  flex: 1 1 0%;
  justify-content: flex-end;
  margin: 0 -16px;
  margin-top: 8px;
  padding-left: 10px;
}
.menu a {
  color: #FFF;
  margin: 0 16px;
  font-weight: 600;
  font-size: 30px;
  font-family: 'IBM Plex Sans Devanagari', sans-serif;
  text-decoration: none;
  transition: 0.4s;
  padding: 8px 16px;
}
.menu a:hover{
  background-color: #5DC7FB;
  cursor: none;
 
 border-radius: 12px;
}

@media (min-width: 768px) {
   .menu{
     display: block;
     display: flex;
   }
}

h1 a{
  text-decoration: none;
  color: white;
  cursor: none;
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
}
h1 span{
  color: #6CCEFD;
}
.headcolor{
  color: #7BC6EA;
}
.log{
  background-color: black;
  border: solid;
  border-color: #7FD2FA;
  border-radius: 20px;
  font-size: 25px;
  border-width: 4px;
  font-family: 'IBM Plex Sans Devanagari', sans-serif;
  font-weight: bold;
  color: white;
  width: 150px;
}
.details{
  margin-top: 250px;
  margin-left: 20px;
  color: #fff;
  font-size: 100px;
  font-weight: bold;
}
.sign-upb{
  background-color: #5DC7FB;
  color: white;
  font-size: 45px;
  font-family: 'IBM Plex Sans Devanagari', sans-serif;
  font-weight: bolder;
  
  border: solid;
  border-color: #5DC7FB;
  border-radius: 25px;
  
  height: 80px;
  width: 350px;
  
}
.aboutdiv{
  text-align: center;
  margin-top: 100px;
}
.aboutHeading{
  color: #fff;
  font-size: 95px;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}
